<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body >
    <div id="app" class="d-flex flex-column justify-content-between">

    
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img class="logo" src="./assets/img/logo_amazing_Events.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
                    <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto gap-2">
                        <li class="nav-item">
                            <a class="nav-link btn " aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn " href="./upcoming-events.html">Upcoming Events</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn" href="./past-events.html">Past Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn" href="./contact.html">Contact</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn p-1" href="./stats.html">Stats</a>
                        </li>
                        <li v-if="tienda.length" class="nav-item ">
                            <a class="nav-link btn cart-icon" href="./shop.html"><i class="bi-cart2"></i><span class="cart-quantity">{{tienda.length}}</span></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center title-container1">
            <h1 class="title">Details</h1>
        </div>
    </header>

    <main class="d-flex main-events justify-content-center">
        <div class="card m-3" id="details">
           <div class="row g-0">
        <div class="col-md-5 text-center p-2">
            <img :src="eventosAMostrar.image" class="img-fluid rounded-start detail-img " alt="${{eventosAMostrar.name}}">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title text-center">{{eventosAMostrar.name}}</h5>
                <div class="text-center m-1">
                    <small > 📍 {{eventosAMostrar.place}} </small> - 
                    <small v-if="eventosAMostrar.date<fecha" class="text-center finished px-3">Finished event </small>
                    <small v-if="eventosAMostrar.date>=fecha"> 📆 {{eventosAMostrar.date}} </small>
                    <p class="card-text text-center mx-2 my-4"><i> {{eventosAMostrar.description}}</i></p>
                </div>
                <div class="text-center">
                    
                        <small class="card-text"><i>{{eventosAMostrar.assistance?"Assistance: " :"Estimate: "}} {{eventosAMostrar.assistance? eventosAMostrar.assistance : eventosAMostrar.estimate}} people</i></small><br>
                        <small >  Capacity: <i>{{eventosAMostrar.capacity}} people </i></small><br>
                        <small> Category: <i>{{eventosAMostrar.category}} </i></small>  
                    
                </div>          
                <div class="d-flex justify-content-center align-items-center my-4 flex-column">

                    <small class="mb-1"> Price: <i>US$ {{eventosAMostrar.price}}</i> </small>
                    
                    

                    <a v-if="eventosAMostrar.date<fecha" class="btn  details-btn p-1 mt-1" href="./index.html">Go to the Shop</a>

                    <button v-if="!tienda.find(eventoF => eventoF._id == eventosAMostrar._id) && eventosAMostrar.date>=fecha" class="btn  details-btn p-1 mt-1" type="submit" @click="agregarShop(eventosAMostrar)">Add to Cart</button>
                    
                    <button v-if="tienda.find(eventoF => eventoF._id == eventosAMostrar._id)"  class="btn  details-btn p-1 mt-1" @click="eliminarShop(eventosAMostrar)">Delete</button>

                    <a v-if="tienda.find(eventoF => eventoF._id == eventosAMostrar._id) || tienda.length" class="btn  details-btn p-1 mt-1" href="./shop.html">View Cart</a>
                </div>
            </div>
        </div>
    </div>
        </div>

    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 mt-3">
        <ul class="nav col-md-4 list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/arte.escuela/" target="_blank">
                <i class="bi bi-instagram"></i>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/profile.php?id=100014593719613" target="_blank">
                <i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://wa.link/3puj2n" target="_blank">
                <i class="bi bi-whatsapp"></i></a></li>
        </ul>
        <div class="col-md-4 d-flex align-items-center justify-content-end me-5">
            <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 text-white">
                <span>FE15-TM</span>
            </a>
        </div>
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./scripts/vue.js"></script>
</body>

</html>