<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events | Amazing Events</title>
    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>

<body >
    <div id="app" class="d-flex flex-column justify-content-between">
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index.html">
                    <img class="logo" src="./assets/img/logo_Amazing_Events.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
                    <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto gap-2">
                        <li class="nav-item">
                            <a class="nav-link btn btn-navbar " aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-navbar active" href="#">Upcoming Events</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn btn-navbar" href="./past-events.html">Past Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  btn btn-navbar" href="./contact.html">Contact</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn btn-navbar" href="./stats.html">Stats</a>
                        </li>
                        <li v-if="tienda.length" class="nav-item ">
                            <a class="nav-link btn cart-icon" href="./shop.html"><i class="bi-cart2"></i><span class="cart-quantity">{{tienda.length}}</span></a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center title-container1">
            <h1 class="title">Upcoming Events</h1>
        </div>
    </header>
    <main class="d-flex main-events flex-grow-1" id="upcoming">
        <aside class="container-fluid list-group aside-categories" >
            <div class="d-flex justify-content-between m-lg-2  categories-list">
                <ul class="d-flex p-0 align-items-center gap-3 text-white">
                    <div v-for="categoria of categorias" class="form-check form-switch">
                        <input v-model="categoriasSeleccionadas" class="form-check-input" type="checkbox" role="switch" :id="categoria" :value="categoria">
                        <label class="form-check-label" :for="categoria">{{categoria}}</label>
                    </div>
                </ul>
                <form class="d-flex search-box" role="search">
                    <input v-model="textoFilter" class="form-control me-2 search-input" type="search" placeholder="Search"
                        aria-label="Search">
                    {{superFiltro}}
                </form>

            </div>
        </aside>
        <div v-if="!eventosAMostrar.length" class="text-center ">
            <img src="./assets/img/resultNotFound.png" alt="oops" class="oops">
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 m-1 card-container">
            <div v-for="evento of eventosAMostrar"class="col">
                <div class="card h-100">
                    <img :src="evento.image" class="card-img-top p-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{evento.name}}</h5>
                        <p class="card-text">{{evento.description}}</p>
                        <p v-if="evento.date<fecha" class="text-center finished m-0">Finished event </p>

                    </div>
                    <div class="card-footer d-flex justify-content-around align-items-center">
                        <small> US$ {{evento.price}} </small>
                        <a :href="'./details.html?id='+evento._id" class="btn details-btn p-1">
                            View more
                        </a>
                        <a v-if="!tienda.includes(evento) && evento.date>=fecha" class="btn shop-btn " @click="agregarShop(evento)" ><i class="bi bi-plus-circle-fill"></i></a>
                        <a v-if="tienda.includes(evento)" class="btn shop-btn " @click="eliminarShop(evento)"><i class="bi bi-dash-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 mt-3">
        <ul class="nav col-md-4 list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/arte.escuela/" target="_blank">
                <i class="bi bi-instagram"></i>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/profile.php?id=100014593719613" target="_blank">
                <i class="bi bi-facebook"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://wa.link/3puj2n" target="_blank">
                <i class="bi bi-whatsapp"></i></a></li>
        </ul>
        <div class="col-md-4 d-flex align-items-center justify-content-end me-5">
            <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 text-white">
                <span>FE15-TM</span>
            </a>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./scripts/vue.js"></script>
</body>

</html>